{% extends 'layout/base.html' %}


{% block content %}
 <div class="container-fluid">
 <div class="container-fluid mt-4">
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.ulcdn.net/media/Slideshow/leeroy_slide_show.jpg?1727877112" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.ulcdn.net/media/Collection/listings/MIA_Range.png?1727955584" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.ulcdn.net/media/Slideshow/UI_Slideshow_2392024.jpg?1727092391" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.ulcdn.net/media/Slideshow/FHF_coming_soon_Desktop-min.png?1727539621" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
 </div>    

{% endblock content %}
    

