{% load cart_tags %}

<div class="container-fluid stickybar">
<h6 class="text-white text-center p-3">Get Extra 5% with Code : EXTRA5 | Shop Now. </h6>
</div>
<div class="container-fluid ">
<div class="row">
    <div class="col d-flex justify-content-center ">
        <div class="col col-sm-2   "><a href="" class="text-decoration-none text1 "><i class="bi bi-patch-question-fill p-1 text1 "></i>Help</a></div>
        <div class="col col-sm-4  "><a href="" class="text-decoration-none text1"><i class="bi bi-geo-alt-fill  p-1 text1"></i>Track Orders</a></div>
    </div>
    <div class="col d-flex justify-content-center me-3">
        <div class="col col-sm-4 "><a href="" class="text-decoration-none text1"><i class="bi bi-binoculars-fill p-1"></i>Find a Seller</a></div>
        <div class="col col-sm-4  "><a href="" class="text-decoration-none text1"><i class="bi bi-gift-fill p-1"></i>Gift Crads</a></div>
    </div>
</div>
</div>  
<div class="container-fluid mt-3">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            TimberTreasures
        </a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Home <span
                            class="visually-hidden">(current)</span></a>
                </li> -->
                {% comment %}
                {% if user.is_authenticated and user.groups.all.0.name == 'seller' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_create' %}">Add Product</a>
                </li>
                {% endif %}
                {% endcomment %}
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">Products</a>
                </li> -->
            </ul>
            <form class="d-flex my-2 my-lg-0">
                <input class="form-control me-sm-2 searchbar" type="text" placeholder="Search" />
                <button class="searchbutton btn  my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
            <ul class="navbar-nav px-2">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link px-2" href="{% url 'show_cart' %}" title="cart">
                        <i class="fas fa-shopping-cart text-warning"></i>
                        {% cart_item_count as item_count %}
                        {% if item_count %}
                        <span class="badge bg-danger">{{ item_count }}</span>
                        {% endif %}
                            

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2" href="{% url 'wishlist' %}" title="wishlist">
                        <i class="bi bi-heart-fill"></i>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                {% else %}
                {% if user.is_authenticated and user.groups.all.0.name == 'seller' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'seller_dashboard' %}" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                {% elif user.is_authenticated and user.groups.all.0.name == 'customer' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                {%endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" title="logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'seller_login' %}" class="nav-link me-5">Seller Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" title="login">
                        <i class="fas fa-sign-in-alt icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}" title="register">
                        <i class="fas fa-user-plus icon"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>
</div>
<div class="container-fluid">
    <div class="row  ">
        <div class="col"><a href="{% url 'index' %}" class="text">Home</a></div>
        <!-- <div class="col"><a href="" class=" text">New Arrivals</a></div> -->
        <div class="col"><a href="{% url 'livingroom' %}" class=" text">Sofas & Recliners</a></div>
        <div class="col"><a href="{% url 'bedroom' %}" class="text">Bedroom</a></div>
        <div class="col"><a href="{% url 'diningroom' %}" class="text">Dinning</a></div>
        <div class="col"><a href="" class="text">Stoarage</a></div>
        <div class="col"><a href="{% url 'studyroom' %}" class="text">Study</a></div>
        <div class="col"><a href="{% url 'homedecor' %}" class="text">Home Decor</a></div>
        
</div>
